
/* Drop-down */
nav {
    height: 2rem;
    width: auto;
    background-color: rgb(125, 188, 240);
    position: sticky;
    top: 0em;
}


nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: block;
    height: 100%;
}

nav ul {
    list-style-type: none;
}

nav > ul.meniu {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav > ul.meniu li {
    flex-grow: 1;
    height: 2rem;
    line-height: 2rem;
    background-color: rgb(125, 188, 240);
}

nav > ul.meniu > li > ul.submeniu {
    visibility: hidden;
}

nav > ul.meniu > li:hover > ul.submeniu {
    visibility: visible;
    background-color: rgb(125, 188, 240);
    position: relative;
}

nav > ul.meniu a:hover {
    transition: background-color 3s;
    background-color: rgb(95, 149, 194);
    color: rgb(0, 0, 0);
}

nav > ul.meniu li {
    transition: background-color 3s;
}

#lupa{
    position: relative;
    height: 1.5em;
    top: 5px;
    left: -2px;
}

/* ___________________________ */




.container {
    display: flex;
    width: 1000px;
    height: 500px;
  }
  
  .container :nth-child(1) {
    background: lightblue;
    flex: 2;
  }
  
  .container :nth-child(2) {
    background: lightcoral;
    flex: 2;
  }
  
  .container :nth-child(3) {
    background: lightgreen;
    flex: 2;
  }
  