body{
  background-image: url("/poze/background_site1.jpg");
}
.header_produse h1{
    text-align: center;
    top: 30px;
    position: relative;
    transform: scale(1.5);
}

.produs_descriere{
    list-style-type: none;
}

ul.produs_descriere :first-child{
    font-size: large;
}

.produs_descriere{
  margin-top: 5%;
}
#pret{
  margin-top: 20px;
}

/* Drop-down */
nav {
    height: 2rem;
    width: auto;
    /* background-color: rgb(125, 188, 240); */
    background: linear-gradient(#ffffff,#edd9ff, #a461e2);
    position: sticky;
    top: 0em;
}


nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    display: block;
    height: 100%;
}

nav ul {
    list-style-type: none;
}

nav > ul.meniu {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav > ul.meniu li {
    flex-grow: 1;
    height: 2rem;
    line-height: 2rem;
    /* background-color: rgb(125, 188, 240); */
    background: linear-gradient(#ffffff,#edd9ff, #a461e2);
}

nav > ul.meniu > li > ul.submeniu {
    visibility: hidden;
}

nav > ul.meniu > li:hover > ul.submeniu {
    visibility: visible;
    /* background-color: rgb(125, 188, 240); */
    
    background: linear-gradient(#ffffff,#edd9ff, #a461e2);
    /* position: relative; */
}

nav > ul.meniu a:hover {
    transition: background-color 3s;
    background-color: #a461e2;
    color: rgb(0, 0, 0);
}

nav > ul.meniu li {
    transition: background-color 2s;
}

#lupa{
    position: relative;
    height: 1.5em;
    top: 5px;
    left: -2px;
}
  #searchbar{
      width: 70%;
      height: 1.5rem;
      position: relative;
      top: -2px;
      border-radius: 10px;
  }
/* ___________________________ */
       

.grid-container {
  margin-top: 3vh;
  margin-left: 2vw;
  margin-right: 2vw;
  display: grid;
  grid-template-columns: auto auto auto ;
  /* background-color: #2196F3; */
  padding: 2px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  min-width: 450px;

  /* !!!!! */
  /* display: none; */
}


            .laptop , .telefon, .tableta{
                float: left;
                width: 250px;
            }



@media only screen and (max-width: 600px) {
    .grid-container
	{
        display: grid;
  grid-template-columns: auto;
  padding: 2px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 601px){
    .grid-container
	{
        display: grid;
  grid-template-columns: auto auto;
  padding: 2px;
    }
}



.header_produse{
    height: 100px;
    border-radius: 50px;
    animation: store 5s infinite;
    position: relative;
    
}

@keyframes store {
    /* from {background-color: rgb(102, 170, 197);}
    to {background-color: rgb(85, 50, 182);} */

    from {background: linear-gradient(#ffffff,#edd9ff, #a461e2);}
    to {background: linear-gradient(#a461e2,#edd9ff, #ffffff);}
  }



  /* input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

  input[type=text]:focus {
    width: 100%;
    color: #18578a;
  } */

  /* .error{
      width: 100vw;
      height: 100vh;
  } */

  #err{
    display: none;
  }

  #err{
    width: 100vw;
    height: 100vh;
    /* display: block; */
}



#random{
    display: none;
}

#bg_img{
    display: none;
}

body{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#rnd{
    width: 100%;
  height: 450px;
  border: 1px solid black;
}












/* .container {
    display: flex;
    width: 1000px;
    height: 500px;
  }
  
  .container :nth-child(1) {
    background: lightblue;
    flex: 2;
  }
  
  .container :nth-child(2) {
    background: lightcoral;
    flex: 2;
  }
  
  .container :nth-child(3) {
    background: lightgreen;
    flex: 2;
  } */







#comanda {
  display: flex;
  margin-top: 2vh;
  flex-direction: row;
  padding: 15px;
  background-color: rgb(97, 223, 223);
}


#comanda_item{
  width: 60%;
}
#ch1 {
  width: 50%;
}
#ch2{
  width: 50%;
}

#lista_produse{
  list-style: none;
}

#indisponibil{
  padding: 10px;
  width: 100%;
  text-align: center;
  /* left: -50px; */
  background-color: red;
  font-size: x-large;
  position: relative;
}

#out{
  position: relative;
  left: -20%;
}

.grid-item:hover{
  /* width: 300px; */
  transform: scale(1.1); 
  margin: 2px solid black;
}